lang=en
eval=eval.py
drqa=DrQA/
use_stopwords=False
ignore_questions=False
negative_questions=False
path_solutions=HEAD_EN/

en_head=HEAD_EN/test_HEAD_EN.json
en_retriever=wikipedia/enwiki-20180701-articles.tfidf/enwiki-20180701-articles-tfidf-ngram=2-hash=16777216-tokenizer=simple.npz
en_drqa_reader_model=DrQA/data/reader/multitask.mdl



